<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
    <h1>How Bad Is My Earworm?</h1>
    <p>Do you want to know how often you keep repeating the same songs? Generate a pie chart of your Spotify's recently played songs! Enter how many recently played tracks you want your pie chart to consist of, then press "Submit".</p>
    <form action="/views/get-chart/" method = "POST">
        <p>Number of past plays (maximum 50): <input type = "text" name = "Name" /></p>
        <button class="btn" type = "submit">Submit</button>
    </form>
    </div>
</body>
</html>